{% block _personal_salary_detailSalaries_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _personal_salary_detailSalaries_widget %}
    <div class="col-md-12">
        <div class="form-group text-end mb-2">
            <button type="button"
                    id="add-collection-widget-personal-salary-prime"
                    data-list-selector="#personal_salary_detailSalaries"
                    class="btn btn-soft-primary">
                Nouvelle ligne
            </button>
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}

{% block _personal_salary_detailSalaries_entry_widget %}
    <tr id="block_{{ id }}" data-id="{{ id }}" class="data-row">
        <td>
            {{ form_widget(form.prime) }}
        </td>
        <td>
            {{ form_widget(form.smigHoraire, {'attr':{'class': 'decimalInput text-end'}}) }}
        </td>
        <td>
            {{ form_widget(form.taux, {'attr':{'class': 'separator text-end'}}) }}
        </td>
        <td>
            {{ form_widget(form.amountPrime, {'attr':{'class': 'separator text-end amount-total-prime '}}) }}
        </td>
        <td class="text-center">
            <button type="button"
                    class="btn btn-danger btn-sm btn-rounded delete-personal-salary-prime"
                    data-action="delete"
                    data-target="#block_{{ id }}">
                <i class="uil uil-trash-alt"></i>
            </button>
        </td>
    </tr>
{% endblock %}
