<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.matricule) }}
            {{ form_errors(form.matricule) }}
        </div>
        <label class="col-md-1 col-form-label">Nom <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <label class="col-md-1 col-form-label">Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Genre <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.genre) }}
            {{ form_errors(form.genre) }}
        </div>
        <label class="col-md-1 col-form-label">Date naiss. <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.birthday) }}
            {{ form_errors(form.birthday) }}
        </div>
        <label class="col-md-1 col-form-label">Lieu naiss. </label>
        <div class="col-md-3">
            {{ form_widget(form.lieuNaissance) }}
            {{ form_errors(form.lieuNaissance) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Coordonnée du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Adresse <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.address) }}
            {{ form_errors(form.address) }}
        </div>
        <label class="col-md-1 col-form-label">Email <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <label class="col-md-1 col-form-label">Téléphone <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.telephone) }}
            {{ form_errors(form.telephone) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Information supplementaire</legend>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Catégorie professionelle <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.categorie) }}
            {{ form_errors(form.categorie) }}
        </div>
        <label class="col-md-1 col-form-label">Service <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.service) }}
            {{ form_errors(form.service) }}
        </div>
        <label class="col-md-1 col-form-label">Fonction <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.fonctions) }}
            {{ form_errors(form.fonctions) }}
        </div>
    </div>
</fieldset>



