<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.matricule) }}
            {{ form_errors(form.matricule) }}
        </div>
        <label class="col-md-1 col-form-label">Nom <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <label class="col-md-1 col-form-label">Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Genre <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.genre) }}
            {{ form_errors(form.genre) }}
        </div>
        <label class="col-md-1 col-form-label">Date naiss. <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.birthday) }}
            {{ form_errors(form.birthday) }}
        </div>
        <label class="col-md-1 col-form-label">Lieu naiss. </label>
        <div class="col-md-3">
            {{ form_widget(form.lieuNaissance) }}
            {{ form_errors(form.lieuNaissance) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">N° CNPS </label>
        <div class="col-md-3">
            {{ form_widget(form.refCNPS) }}
            {{ form_errors(form.refCNPS) }}
        </div>
        <label class="col-md-1 col-form-label">Nature pièce </label>
        <div class="col-md-3">
            {{ form_widget(form.piece) }}
            {{ form_errors(form.piece) }}
        </div>
        <label class="col-md-1 col-form-label">N° pièce </label>
        <div class="col-md-3">
            {{ form_widget(form.refPiece) }}
            {{ form_errors(form.refPiece) }}
        </div>
    </div>
</fieldset>


