{% extends 'imprimerLivrePaie.html.twig' %}

{% block title 'Fiche information salarié' %}


{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-offset-2">
            <div class="widget">
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-12 mb-3" style="border: 2px double silver; padding: 10px; border-radius: 5px"
                             id="header">
                            <h4 class="text-center"><strong>FICHE D'INFORMATION SALARIE </strong></h4>
                        </div>
                        <br><br>
                        <div class="card mb-4">
                            <div class="card-body">

                                <table class="table table-bordered table-responsive table-sm">
                                    <thead>
                                    <tr style="font-size: x-small; line-height: normal">
                                        <th class="text-center">N° Ordre</th>
                                        <th class="text-center">Nom et prénoms</th>
                                        <th class="text-center">Département</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="font-size: xx-small; line-height: normal">
                                        <td class="text-center">{{ index }}</td>
                                        <td>{{ personals.firstName|upper }} {{ personals.lastName|upper }}</td>
                                        <td class="text-center">{{ personals.service.libelle }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-responsive table-sm">
                                    <thead>
                                    <tr style="font-size: x-small; line-height: normal">
                                        <th class="text-center">Matricule</th>
                                        <th class="text-center">Catégorie</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="font-size: xx-small; line-height: normal">
                                        <td class="text-center">{{ personals.matricule }}</td>
                                        <td class="text-center">{{ personals.categorie.libelle }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <a class="btn btn-dark btn-print pull-right" style="color: white" href="javascript:window.print()">
                <i class="icon-print"></i>
                Imprimer</a>
            <a class="btn btn-info btn-back pull-right" style="margin-right: 5px" onclick="window.close()"
               href="{{ path('app_home') }}">
                retour</a>
        </div>
    </div>
{% endblock %}


