{% extends 'base.html.twig' %}

{% block title %}Detail salarié{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Détail du salarié {{ personal.matricule|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>Information du salarié</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Matricule</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Prénom(s)</th>
                                <th class="text-center">Genre</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-center">{{ personal.matricule }}</td>
                                <td class="text-start">{{ personal.firstName }}</td>
                                <td class="text-start">{{ personal.lastName }}</td>
                                <td class="text-start">{{ personal.genre|capitalize }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Coordonnée du salarié</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Adresse</th>
                                <th class="text-center">Numéro de téléphone</th>
                                <th class="text-center">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-start">{{ personal.address }}</td>
                                <td class="text-center">(+225) {{ personal.telephone }}</td>
                                <td class="text-start">{{ personal.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Information suplementaire du salarié</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Catégorie</th>
                                <th class="text-center">Département</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-start"> ({{ personal.categorie.libelle|capitalize  }})</td>
                                <td class="text-start">{{ personal.service.libelle|capitalize }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_edit', {'uuid': personal.uuid}) }}"
                       class="btn btn-warning float-end " style="color: white">Modifier</a>
                    <a href="{{ path('personal_index') }}" class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

