<div class="mb-2 row">
    <label class="col-md-1 col-form-label" for="example-month">Mois de paie</label>
    <div class="col-md-3">
        <select name="months[]" id="months" class="form-select form-select-sm full-width-fix"
                data-placeholder="Sélectionner le mois"
                multiple
                data-plugin="customselect">
            {% for id,m in months %}
                <option value="{{ id }}">{{ m }}</option>
            {% endfor %}
        </select>
    </div>
    <label class="col-md-1 col-form-label" for="example-month">Années</label>
    <div class="col-md-3">
        <input type="text" class="form-control-sm form-control yearpicker" name="year" id="year">
    </div>
    <label class="col-md-1 col-form-label" for="personalsId">Personnels</label>
    <div class="col-md-3">
        <select name="personalsId" id="personalsId" placeholder="Sélectionner un salarier"
                class="form-select form-select-sm full-width-fix" data-placeholder="Sélectionner un salarier"
                data-plugin="customselect">
            <option value="" selected></option>
            <option value="">Tous</option>
            {% for p in personals %}
                <option value="{{ p.id }}">{{ p.firstName|capitalize }} {{ p.lastName|capitalize }}</option>
            {% endfor %}
        </select>
    </div>
</div>

