
{% extends 'base.html.twig' %}

{% block title %}Importer un fichier excel{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'enctype': 'multipart/form-data' }}) }}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Importation du personnel salariés (Excel)
                    </h5>
                </div>
                <div class="card-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-10">
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" for="example-placeholder">Fichier (xlsx) du personnel<span
                                                class="text-danger">*</span></label>
                                    <div class="col-md-8">
                                        {{ form_widget(form.fileName) }}
                                        {{ form_errors(form.fileName) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-primary float-end">{{ button_label|default('Soumettre') }}</button>
                    <a href="{{ path('app_home') }}"
                       class="btn btn-info float-end me-2" style="color: white">Retour</a>
                    
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


