<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.personal) }}
            {{ form_errors(form.personal) }}
        </div>
        <label class="col-md-2 col-form-label">Nom & Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Catégorie salarié <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.category) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Détail du congé</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Type de congé</label>
        <div class="col-md-4">
            {{ form_widget(form.typeConge) }}
            {{ form_errors(form.typeConge) }}
        </div>
        <label class="col-md-2 col-form-label">Date départ <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.dateDepart) }}
            {{ form_errors(form.dateDepart) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date retour <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.dateRetour) }}
            {{ form_errors(form.dateRetour) }}
        </div>
    </div>
    {{ form_widget(form.totalDays) }}
</fieldset>