{% extends 'base.html.twig' %}

{% block title %}Modifier congés{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        MODIFIER CONGE
                    </h5>
                </div>
                <div class="card-body">
                    {{ include('/conge/_form.html.twig') }}
                </div>
                <div class="card-footer">
                   
                    <button type="submit"
                            class="btn btn-primary float-end">{{ button_label|default('Enregistrer') }}</button>
                    
                    <a href="{{ path('conge_validate', {'uuid': conge.uuid}) }}"
                       class="btn btn-success float-end me-2" style="color: white">
                        Valider
                    </a>
                    {%if(conge.status != 'Accepté')%}
                        <a href="{{ path('conge_refuse', {'uuid': conge.uuid}) }}"
                        class="btn btn-danger float-end me-2" style="color: white">
                            Refuser
                        </a>
                    {%endif%}
                    {%if(conge.status == 'Accepté')%}
                    <a href="{{ path('conge_attestation', {'uuid': conge.uuid}) }}"
                       target="_blank"
                       class="btn btn-warning float-end me-2" style="color: white">
                        <i data-feather="file-text"></i> Attestation
                    </a>
                    <a href="{{ path('conge_print', {'uuid': conge.uuid}) }}"
                       target="_blank"
                       class="btn btn-secondary float-end me-2" style="color: white">
                        <i data-feather="printer"></i> Demande
                    </a>
                    {%endif%}
                    <a href="{{ path('conge_index') }}"
                       class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


