<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.Personal) }}
        </div>
        <label class="col-md-2 col-form-label">Nom & Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date d'embauche <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.hireDate) }}
        </div>
        <label class="col-md-2 col-form-label">Catégorie salarié <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.category) }}
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend>Détail assurance</legend>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Type assurance<span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.retenuForfetaire) }}
        </div>

        <label class="col-md-2 col-form-label">Personne à charge</label>
        <div class="col-md-3">
            {{ form_widget(form.chargePeople) }}
        </div>

        <label class="col-md-1 col-form-label">Solde assurance</label>
        <div class="col-md-2">
            {{ form_widget(form.amount) }}
        </div>
    </div>
</fieldset>