<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link">
                            <i data-feather="home"></i> ACCUEIL
                        </a>
                    </li>
                    {# DEBUT PARAMETRAGE #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="settings"></i>PARAMETRAGE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sociétés
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('admin_society_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('admin_society_show') }}"
                                       class="dropdown-item">Modifer</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catégorie professionnelle
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('category_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('category_index') }}"
                                       class="dropdown-item">Liste</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Fonction
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('fonction_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('fonction_index') }}"
                                       class="dropdown-item">Liste</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Service
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('service_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('service_index') }}"
                                       class="dropdown-item">Liste</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Utilisateur
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('auth_user_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('auth_user_index') }}"
                                       class="dropdown-item">Liste utilisateurs</a>
                                </div>
                            </div>
                            {#
                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Categories prof.
                                        <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-map">
                                        <a href="{{ path('settings_category_salarie_new') }}"
                                        class="dropdown-item">Créer</a>
                                        <a href="{{ path('settings_category_salarie_index') }}"
                                        class="dropdown-item">Liste categories</a>
                                    </div>
                                </div>
                            #}
                        </div>
                    </li>
                    {# FIN PARAMETRAGE #}

                    {# DEBUT GESTION DU PERSONNEL #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="users"></i>PERSONNEL
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Salarié
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('personal_new') }}"
                                        class="dropdown-item">Créer</a>
                                    <a href="{{ path('personal_index') }}"
                                        class="dropdown-item">Liste des salariés</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {# FIN GESTION DU PERSONNEL #}
                    {# DEBUT GESTION DU PERSONNEL #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="users"></i>CONGE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Congés
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('conge_new') }}"
                                        class="dropdown-item">Créer</a>
                                    <a href="{{ path('conge_index') }}"
                                        class="dropdown-item">Liste des congés</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {# FIN GESTION DU PERSONNEL #}
                    
                </ul>
            </div>
        </nav>
    </div>
</div>