<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link">
                            <i data-feather="home"></i> ACCUEIL
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="settings"></i>PARAMETRAGES
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories salarié
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_category_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('settings_category_index') }}"
                                       class="dropdown-item">Liste catégories salariés</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catégories charge
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('import_category_charge_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('import_category_charge_index') }}"
                                       class="dropdown-item">Liste catégorie charge</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Prime
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_prime_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('settings_prime_index') }}"
                                       class="dropdown-item">Liste primes</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="users"></i>GESTION DU PERSONNEL
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dossier Personnel
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Salarié
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_index') }}"
                                               class="dropdown-item">Liste salariés</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Personne à charge
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('charge_people_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('charge_people_index') }}"
                                               class="dropdown-item">Liste </a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Compte banque
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_account_bank_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_account_bank_index') }}"
                                               class="dropdown-item">Liste </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Heure Suplementaire
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('personal_heure_sup_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('personal_heure_sup_index') }}"
                                       class="dropdown-item">Liste heure suplementaire</a>
                                    <a href="{{ path('personal_heure_sup_supp_book') }}"
                                       class="dropdown-item">Livre heure suplementaire</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Congés & Absence
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Planifier congés
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('conge_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('conge_index') }}"
                                               class="dropdown-item">Liste congés planifiés</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('reporting_prime_indemnite') }}"
                               class="dropdown-item">Primes et indemnités</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="dollar-sign"></i>GESTION DE LA PAIE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ouvrire/Fermer Campagne
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('campagne_open_campagne') }}"
                                       class="dropdown-item">Ouverture campagne</a>
                                    <a href="{{ path('reporting_salaires') }}"
                                       class="dropdown-item">Etat des salaires mensuel</a>
                                    <a href="{{ path('campagne_close') }}"
                                       class="dropdown-item">Ferméture campagne</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="dollar-sign"></i>ETAT GLOBALE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="{{ path('reporting_etat_salaire') }}"
                               class="dropdown-item">Etat des salaire</a>
                            <a href="{{ path('reporting_declaration_dgi') }}"
                               class="dropdown-item">Etat declaration dgi</a>
                            <a href="{{ path('reporting_declaration_cnps') }}"
                               class="dropdown-item">Etat declaration cnps</a>
                            <a href="{{ path('reporting_declaration_fdfp') }}"
                               class="dropdown-item">Etat declaration fdfp</a>
                        </div>
                    </li>
                </ul> <!-- end navbar-->
            </div> <!-- end .collapsed-->
        </nav>
    </div> <!-- end container-fluid -->
</div> <!-- end topnav-->