<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.personal) }}
        </div>
        <label class="col-md-2 col-form-label">Nom & Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date d'embauche <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.hireDate) }}
        </div>
        <label class="col-md-2 col-form-label">Catégorie salarié <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.category) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Détail du congé</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Type de congé <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.typeConge) }}
        </div>
        <label class="col-md-2 col-form-label">Mode de paiement de l'allocation<span
                    class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.typePayementConge) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date dernier retour <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.dernierRetour) }}
        </div>
        <label class="col-md-2 col-form-label">Congés disponible (jrs)<span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.remaining) }}
        </div>

    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date départ <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.dateDepart) }}
        </div>
        <label class="col-md-2 col-form-label">Date retour <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.dateRetour) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date réprise <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.dateReprise) }}
        </div>
        <label class="col-md-2 col-form-label">Salaire moyen <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.salaireMoyen) }}
        </div>
    </div>
</fieldset>