<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Identification <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.personal) }}
        </div>
        <label class="col-md-2 col-form-label">Nom & Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date d'embauche <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.hireDate) }}
        </div>
        <label class="col-md-2 col-form-label">Catégorie salarié <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.category) }}
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend>Détail opération</legend>
    <div class="row">
        <div class="mb-3 row">
            <label class="col-md-2 col-form-label" for="example-placeholder">Date Opération<span
                        class="text-danger">*</span></label>
            <div class="col-md-4">
                {{ form_widget(form.dateOperation) }}
                {{ form_errors(form.dateOperation) }}
            </div>
            <label class="col-md-2 col-form-label" for="example-placeholder">Type Opération <span
                        class="text-danger">*</span></label>
            <div class="col-md-4">
                {{ form_widget(form.typeOperations) }}
                {{ form_errors(form.typeOperations) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 row">
            <label class="col-md-2 col-form-label" for="example-placeholder">Montant Brut (Fcfa) <span
                        class="text-danger">*</span></label>
            <div class="col-md-4">
                {{ form_widget(form.amountBrut) }}
                {{ form_errors(form.amountBrut) }}
                {{ form_help(form.amountBrut) }}

            </div>
            <label class="col-md-2 col-form-label" for="example-placeholder">Montant Net (Fcfa) <span
                        class="text-danger">*</span></label>
            <div class="col-md-4">
                {{ form_widget(form.amountNet) }}
                {{ form_errors(form.amountNet) }}
                {{ form_help(form.amountNet) }}
            </div>
        </div>
    </div>
</fieldset>


