{% extends 'base.html.twig' %}

{% block title %}Smig{% endblock %}

{% block body %}
    <h1>Smig</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ smig.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ smig.dateDebut ? smig.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ smig.dateFin ? smig.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ smig.amount }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ smig.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ smig.uuid }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ smig.createdAt ? smig.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ smig.updatedAt ? smig.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_settings_smig_index') }}">back to list</a>

    <a href="{{ path('app_settings_smig_edit', {'id': smig.id}) }}">edit</a>

    {{ include('settings/smig/_delete_form.html.twig') }}
{% endblock %}
