{% extends 'base.html.twig' %}

{% block title %}Detail prime{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Prime à nature non juridique de salaire
                    </h5>
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>Détail état civil</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr>
                                <th class="text-center">Intitulé</th>
                                <th class="text-center">codification</th>
                                <th class="text-center">Coefficient</th>
                                <th class="text-center">Crée le</th>
                                <th class="text-center">Modifier le</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">{{ prime.intitule }}</td>
                                <td class="text-left">{{ prime.code }}</td>
                                <td class="text-center">{{ prime.taux|number_format }}</td>
                                <td class="text-center">{{ prime.createdAt|date('d/m/Y') }}</td>
                                <td class="text-center">{{ prime.updatedAt|date('d/m/Y') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <a href="{{ path('settings_prime_edit', {'uuid': prime.uuid}) }}"
                       class="btn btn-warning float-end " style="color: white">Modifier</a>
                    <a href="{{ path('settings_prime_index') }}" class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

