<div class="mb-2 row">
    <label class="col-md-1 col-form-label">Nature contrat <span
                class="text-danger">*</span></label>
    <div class="col-md-3">
        {{ form_widget(form.contract.typeContrat) }}
    </div>
    <label class="col-md-2 col-form-label">Date d’embauche <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.contract.dateEmbauche) }}
    </div>
    <label class="col-md-1 col-form-label">Date de début <span
                class="text-danger">*</span></label>
    <div class="col-md-3">
        {{ form_widget(form.contract.dateEffet) }}
    </div>
</div>
<div class="mb-2 row">
    <label class="col-md-1 col-form-label">Date de fin <span
                class="text-danger">*</span></label>
    <div class="col-md-3">
        {{ form_widget(form.contract.dateFin) }}
    </div>
    <label class="col-md-2 col-form-label">Temps Contractuel <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.contract.tempsContractuel) }}
    </div>
    <label class="col-md-2 col-form-label">N° Contract de travail <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.contract.refContract) }}
    </div>
</div>