{% form_theme form.salary with [
    'dossier_personal/personal/_collection.prime.html.twig',
    'dossier_personal/personal/_collection_autre_prime.html.twig',
    'dossier_personal/personal/_collection_retenue_forfaitaire.html.twig'
] %}

<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.matricule) }}
            {{ form_errors(form.matricule) }}
        </div>
        <label class="col-md-1 col-form-label">Nom <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>
        <label class="col-md-1 col-form-label">Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Genre <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.genre) }}
            {{ form_errors(form.genre) }}
        </div>
        <label class="col-md-2 col-form-label">Date naissance <span class="text-danger">*</span></label>
        <div class="col-md-2">
            {{ form_widget(form.birthday) }}
            {{ form_errors(form.birthday) }}
        </div>
        <label class="col-md-2 col-form-label">Lieu naissance </label>
        <div class="col-md-2">
            {{ form_widget(form.lieuNaissance) }}
            {{ form_errors(form.lieuNaissance) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">N° CNPS <span class="text-danger">*</span></label>
        <div class="col-md-3">
            {{ form_widget(form.refCNPS) }}
            {{ form_errors(form.refCNPS) }}
        </div>
        <label class="col-md-2 col-form-label">Nature pièce </label>
        <div class="col-md-2">
            {{ form_widget(form.piece) }}
            {{ form_errors(form.piece) }}
        </div>
        <label class="col-md-1 col-form-label">N° pièce </label>
        <div class="col-md-3">
            {{ form_widget(form.refPiece) }}
            {{ form_errors(form.refPiece) }}
        </div>
    </div>
</fieldset>
<br><br>
<ul class="nav nav-pills navtab-bg nav-justified p-1">
    <li class="nav-item">
        <a href="#coordonner" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
            <span class="d-block d-sm-none"><i class="uil-home-alt"></i></span>
            <span class="d-none d-sm-block">Coordonnés</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#situation_familiale" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-envelope"></i></span>
            <span class="d-none d-sm-block">Situation familiale</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#categories_socio_professionnel" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-user"></i></span>
            <span class="d-none d-sm-block">Catégorie</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#contrat" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-user"></i></span>
            <span class="d-none d-sm-block">Contrat de travail</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#primesIndemnite" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-user"></i></span>
            <span class="d-none d-sm-block">Autres primes et indemnités</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#primes" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-user"></i></span>
            <span class="d-none d-sm-block">Primes</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#forfaitaire" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-user"></i></span>
            <span class="d-none d-sm-block">Retenue assurance</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#salaire" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-user"></i></span>
            <span class="d-none d-sm-block">Salaire</span>
        </a>
    </li>
</ul>
<div class="tab-content text-muted">
    <div class="tab-pane active" id="coordonner">
        {% include 'dossier_personal/personal/_coordonnee_form.html.twig' %}
    </div>
    <div class="tab-pane show" id="situation_familiale">
        {% include 'dossier_personal/personal/_situation.familiale_form.html.twig' %}
    </div>
    <div class="tab-pane" id="categories_socio_professionnel">
        {% include 'dossier_personal/personal/_catégorie.social_form.html.twig' %}
    </div>
    <div class="tab-pane" id="contrat">
        {% include 'dossier_personal/personal/_contract_form.html.twig' %}
    </div>
    <div class="tab-pane" id="primesIndemnite">
        <fieldset>
            <legend>Autres primes et indemnités</legend>
            {% include 'dossier_personal/personal/_autre_prime.html.twig' %}
        </fieldset>
    </div>
    <div class="tab-pane" id="primes">
        <fieldset>
            <legend>Primes à nature non juridique de salaire</legend>
            {% include 'dossier_personal/personal/_prime.html.twig' %}
        </fieldset>
    </div>
    <div class="tab-pane" id="forfaitaire">
        <fieldset>
            <legend>Assurance</legend>
            {% include 'dossier_personal/personal/_retenue_forfaitaire.html.twig' %}
        </fieldset>
    </div>
    <div class="tab-pane" id="salaire">
        {% include 'dossier_personal/personal/_salary_form.html.twig' %}
    </div>
</div>
