
<div class="mb-2 row">
    <label class="col-md-2 col-form-label">Salaire de base <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.salary.baseAmount) }}
        {{ form_errors(form.salary.baseAmount) }}
    </div>
    <label class="col-md-1 col-form-label">Sursalaire </label>
    <div class="col-md-3">
        {{ form_widget(form.salary.sursalaire) }}
    </div>
    <label class="col-md-2 col-form-label">Prime de Transport <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.salary.primeTransport) }}
        {{ form_errors(form.salary.primeTransport) }}
    </div>
</div>
<div class="mb-2 row">
    <label class="col-md-2 col-form-label"> Salaire brut <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.salary.brutAmount) }}
        {{ form_errors(form.salary.brutAmount) }}
    </div>
    <label class="col-md-2 col-form-label">Salaire brut imposable <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.salary.brutImposable) }}
        {{ form_errors(form.salary.brutImposable) }}
    </div>
    <label class="col-md-2 col-form-label">Mode de paiement <span
                class="text-danger">*</span></label>
    <div class="col-md-2">
        {{ form_widget(form.modePaiement) }}
        {{ form_errors(form.modePaiement) }}
    </div>
</div>
<div class="mb-2 row">
    <label class="col-md-2 col-form-label">Montant avantage en nature</label>
    <div class="col-md-4">
        {{ form_widget(form.salary.amountAventage) }}
        {{ form_errors(form.salary.amountAventage) }}
    </div>
    <label class="col-md-2 col-form-label">Avantage en nature</label>
    <div class="col-md-4">
        {{ form_widget(form.salary.avantage) }}
    </div>
</div>
