<div class="mb-2 row">
    <label class="col-md-1 col-form-label">État civil <span
                class="text-danger">*</span></label>
    <div class="col-md-8">
        {{ form_widget(form.etatCivil) }}
        {{ form_errors(form.etatCivil) }}
    </div>
</div>
<br>
<div id="family_container">
    <fieldset>
        <legend>Élément rélative au mariage</legend>
        <div class="mb-2 row">
            <label class="col-md-2 col-form-label">Nom complet Conjoint<span
                        class="text-danger"> *</span></label>
            <div class="col-md-2">
                {{ form_widget(form.conjoint) }}
                {{ form_errors(form.conjoint) }}
            </div>
            <label class="col-md-2 col-form-label">N° Certificat marriage<span
                        class="text-danger"> *</span></label>
            <div class="col-md-2">
                {{ form_widget(form.numCertificat) }}
                {{ form_errors(form.numCertificat) }}
            </div>
            <label class="col-md-2 col-form-label">N° Acte marriage<span
                        class="text-danger"> *</span></label>
            <div class="col-md-2">
                {{ form_widget(form.numExtraitActe) }}
                {{ form_errors(form.numExtraitActe) }}
            </div>
        </div>
        <div class="mb-2 row">
            <label class="col-md-2 form-check-label">Assuré ?<span
                        class="text-danger"> *</span></label>
            <div class="col-md-2 form-switch">
                {{ form_widget(form.isCmu) }}
                {{ form_errors(form.isCmu) }}
            </div>
            <label class="col-md-2 col-form-label">Numéro Cmu<span
                        class="text-danger"> *</span></label>
            <div class="col-md-2">
                {{ form_widget(form.numCmu) }}
                {{ form_errors(form.numCmu) }}
            </div>
        </div>
    </fieldset>
</div>