{% extends 'base.html.twig' %}

{% block title %}Detail salarié{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Salarié {{ personal.matricule }}
                    </h5>
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>INFORMATION DU SALARIE</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Matricule</th>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Prénom(s)</th>
                                <th class="text-center">Genre</th>
                                <th class="text-center">Date de Naissance</th>
                                <th class="text-center">Lieu de Naissance</th>
                                <th class="text-center">N° CNPS</th>
                                <th class="text-center">Nature Pièce</th>
                                <th class="text-center">N° Pièce</th>
                                <th class="text-center">Etat civil</th>
                                <th class="text-center">Mode paiement</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-center">{{ personal.matricule }}</td>
                                <td class="text-start">{{ personal.firstName }}</td>
                                <td class="text-start">{{ personal.lastName }}</td>
                                <td class="text-start">{{ personal.genre|capitalize }}</td>
                                <td class="text-center">{{ personal.birthday|date('d-m-Y') }}</td>
                                <td class="text-start">{{ personal.lieuNaissance|capitalize }}</td>
                                <td class="text-center">{{ personal.refCNPS }}</td>
                                <td class="text-start">{{ personal.piece|capitalize }}</td>
                                <td class="text-center">{{ personal.refPiece }}</td>
                                <td class="text-start">{{ personal.etatCivil|capitalize }}</td>
                                <td class="text-start">{{ personal.modePaiement|capitalize }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>COORDONNEE DU SALARIE</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Adresse</th>
                                <th class="text-center">Numéro de téléphone</th>
                                <th class="text-center">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-start">{{ personal.address }}</td>
                                <td class="text-center">(+225) {{ personal.telephone }}</td>
                                <td class="text-start">{{ personal.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    {% if personal.etatCivil == 'MARIEE' %}
                        <fieldset>
                            <legend>SITUATION FAMILIALE</legend>
                            <table class="table table-bordered table-sm">
                                <thead class="table-light">
                                <tr style="font-size: 11px">
                                    <th class="text-center">Nom & prénoms du conjoint</th>
                                    <th class="text-center">N° Certificat mariage</th>
                                    <th class="text-center">Extrait d’acte mariage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="font-size: 10px">
                                    <td class="text-start">{{ personal.conjoint }}</td>
                                    <td class="text-center">{{ personal.numCertificat }}</td>
                                    <td class="text-start">{{ personal.numExtraitActe }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>
                        <br>
                    {% endif %}

                    <fieldset>
                        <legend>CATEGORIE SOCIO PROFESSIONNELLE</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Catégorie</th>
                                <th class="text-center">Niveau de formation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-start"> ({{ personal.categorie.categorySalarie }})
                                    - {{ personal.categorie.intitule }}</td>
                                <td class="text-start">{{ personal.niveauFormation|capitalize }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>CONTRAT</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Type de contrat</th>
                                <th class="text-center">Date d’embauche</th>
                                <th class="text-center">Date d’effet</th>
                                <th class="text-center">Ancienneté</th>
                                <th class="text-center">Type de temps contractuel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-start">{{ personal.contract.typeContrat }}</td>
                                <td class="text-center">{{ personal.contract.dateEmbauche|date('d-m-Y') }}</td>
                                <td class="text-center">{{ personal.contract.dateEffet|date('d-m-Y') }}</td>
                                <td class="text-center">{{ personal.ancienity }}</td>
                                <td class="text-start">{{ personal.contract.tempsContractuel|capitalize }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    {% if personal.salary.detailSalaries %}
                        <fieldset>
                            <legend>PRIME</legend>
                            <table class="table table-bordered table-sm">
                                <thead class="table-light">
                                <tr style="font-size: 11px">
                                    <th class="text-center">Intitule</th>
                                    <th class="text-center">Montant</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detail in personal.salary.detailSalaries %}
                                    <tr style="font-size: 10px">
                                        <td class="text-start">{{ detail.prime.intitule }}</td>
                                        <td class="text-end">{{ detail.amountPrime|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr style="font-size: 11px">
                                    <th colspan="1" class="text-center">TOTAL</th>
                                    <th class="text-end">{{ personal.salary.totalPrimeJuridique|number_format(0, ',', ' ') }}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </fieldset>
                        <br>
                    {% endif %}

                    <fieldset>
                        <legend>SALAIRE</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Salaire catégoriel</th>
                                <th class="text-center">Sursalaire</th>
                                <th class="text-center">Prime de transport</th>
                                <th class="text-center">Prime de fonction</th>
                                <th class="text-center">Prime de logement</th>
                                <th class="text-center">Avantage en nature</th>
                                <th class="text-center">Salaire brut</th>
                                <th class="text-center">Salaire brut Imposable</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-end">{{ personal.categorie.amount|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ personal.salary.sursalaire|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ personal.salary.primeTransport|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ personal.salary.primeFonction|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ personal.salary.primeLogement|number_format(0, ',', ' ') }}</td>
                                <td class="text-center">{{ personal.salary.avantage }} </td>
                                <td class="text-end">{{ personal.salary.brutAmount|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ personal.salary.brutImposable|number_format(0, ',', ' ') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>IMPOSITION DE SALAIRE</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Nombre de part</th>
                                <th class="text-center">Montant ITS</th>
                                <th class="text-center">Montant CMU</th>
                                <th class="text-center">Montant CNPS</th>
                                <th class="text-center">Montant Impôt Net</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-center">{{ charge_personal.numPart|number_format }}</td>
                                <td class="text-end">{{ charge_personal.amountIts|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_personal.amountCMU|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_personal.amountCNPS|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_personal.amountTotalChargePersonal|number_format(0, ',', ' ') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>CHARGE DE EMPLOYEUR</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr style="font-size: 11px">
                                <th class="text-center">Montant IS</th>
                                <th class="text-center">Montant FDFP</th>
                                <th class="text-center">Montant CMU</th>
                                <th class="text-center">Retenue CNPS</th>
                                <th class="text-center">Total Charge</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr style="font-size: 10px">
                                <td class="text-end">{{ charge_employeur.amountIS|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_employeur.amountFDFP|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_employeur.amountCMU|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_employeur.totalRetenuCNPS|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ charge_employeur.totalChargeEmployeur|number_format(0, ',', ' ') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_edit', {'uuid': personal.uuid}) }}"
                       class="btn btn-warning float-end " style="color: white">Modifier</a>
                    <a href="{{ path('personal_index') }}" class="btn btn-info float-end me-2">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

