<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Matricule <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.personal) }}
        </div>
        <label class="col-md-2 col-form-label">Nom & Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date d'embauche <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.hireDate) }}
        </div>
        <label class="col-md-2 col-form-label">Catégorie salarié <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.category) }}
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend>Détail heure suplementaire</legend>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-sm table-responsive-sm">
                <thead class="table-secondary">
                <tr>
                    <th class="text-center">Période journée</th>
                    <th class="text-center">Type journée</th>
                    <th class="text-center">Date début</th>
                    <th class="text-center">Heure début</th>
                    <th class="text-center">Date fin</th>
                    <th class="text-center">Heure fin</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                {% form_theme form 'dossier_personal/heure_sup/_collection_heure_sup.html.twig' %}
                <tbody id="detail_heure_sup_table">
                {{ form_widget(form.heureSup) }}
                </tbody>
            </table>
        </div>
    </div>
</fieldset>