{% extends 'base.html.twig' %}

{% block title %}Liste des heures supp de la periode | {{ date|capitalize }}{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridHeureSupplementaire {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        HEURES SUPPLEMENTAIRES DE LA PERIODE DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridHeureSupplementaire"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_heure_sup_new') }}" class="btn btn-primary float-end"
                       style="color: white">Nouveau</a>
                    <a href="{{ path('app_home') }}"
                       class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();

            $("#dataGridHeureSupplementaire").dxDataGrid({
                dataSource: `{{ url('personal_heure_sup_api_heure_supplementaire') }}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 355,
                selection: {
                    mode: "multiple",
                    allowSelectAll: true,
                    showCheckBoxesMode: "always"
                },
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true,
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('HEURES SUPPLEMENTAIRES');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `HEURES SUPPLEMENTAIRE ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                columns: [
                    {
                        caption: 'Matricule',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'matricule',
                    },
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'name',
                    },
                    {
                        caption: 'Prénom(s)',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'last_name',
                    },
                    {
                        caption: 'Date Naissance',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_naissance',
                    },
                    {
                        caption: 'Catégorie Salarié',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'categorie_salarie',
                    },
                    {
                        caption: 'Date Embauche',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_embauche',
                    },
                    {
                        caption: 'Date Début',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_debut',
                    },
                    {
                        caption: 'Heure Début',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'heure_debut',
                    },
                    {
                        caption: 'Date Fin',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_fin',
                    },
                    {
                        caption: 'Heure Fin',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'heure_fin',
                    },
                    {
                        caption: 'Total Horraire',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'total_horaire',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Ajouté le',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_creation',
                    },
                    {
                        caption: 'Action',
                        dataField: 'modifier',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $("<a title='modifier'>")
                                .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                .attr("href", options.data.modifier)
                                .appendTo(container);
                            feather.replace();
                        },
                    },
                ],
            })
        })
    </script>

{% endblock %}
