{% extends 'base.html.twig' %}

{% block title %}AccountBank{% endblock %}

{% block body %}
    <h1>AccountBank</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account_bank.id }}</td>
            </tr>
            <tr>
                <th>BankId</th>
                <td>{{ account_bank.bankId }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ account_bank.code }}</td>
            </tr>
            <tr>
                <th>NumCompte</th>
                <td>{{ account_bank.numCompte }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ account_bank.rib }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ account_bank.uuid }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ account_bank.createdAt ? account_bank.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ account_bank.updatedAt ? account_bank.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossier_personal_account_bank_index') }}">back to list</a>

    <a href="{{ path('app_dossier_personal_account_bank_edit', {'id': account_bank.id}) }}">edit</a>

    {{ include('dossier_personal/account_bank/_delete_form.html.twig') }}
{% endblock %}
