{% block _charge_chargePeople_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _charge_chargePeople_widget %}
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button type="button"
                    data-remove-target="block_{{ id }}"
                    data-tr-id="{{ id }}"
                    data-collection-holder-class="#charge_chargePeople"
                    data-target="#detail_personal_charge_people_table"
                    data-index="{{ form | length > 0 ? form | last.vars.name + 1 : 0 }}"
                    class="btn btn-soft-primary add_item_link mb-2 float-end">
                Nouvelle ligne
            </button>
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}

{% block _charge_chargePeople_entry_widget %}
    <tr id="block_{{ id }}" data-id="{{ id }}" class="data-row">
        <td>
            {{ form_widget(form.firstName,{'attr': {
                "class": 'form-control form-control-sm',
            }}) }}
        </td>
        <td>
            {{ form_widget(form.lastName,{'attr': {
                "class": 'form-control form-control-sm',
            }}) }}
        </td>
        <td>
            {{ form_widget(form.birthday,{'attr': {
                "class": 'form-control form-control-sm',
            }}) }}
        </td>
        <td>
            {{ form_widget(form.gender,{'attr': {
                "class": 'form-control form-control-sm',
            }}) }}
        </td>
        <td>
            {{ form_widget(form.numPiece,{'attr': {
                "class": 'form-control form-control-sm',
            }}) }}
        </td>
        <td class="text-center">
            <button type="button"
                    class="btn btn-danger btn-sm btn-rounded del_item_link"
                    data-action="delete"
                    data-target="#block_{{ id }}">
                <i class="bi bi-trash"></i>
            </button>
        </td>
    </tr>
{% endblock %}
