<fieldset>
    <legend>Information du salarié</legend>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Identification <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.personal) }}
        </div>
        <label class="col-md-2 col-form-label">Nom & Prénom(s) <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Date d'embauche <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.hireDate) }}
        </div>
        <label class="col-md-2 col-form-label">Catégorie salarié <span class="text-danger">*</span></label>
        <div class="col-md-4">
            {{ form_widget(form.category) }}
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend>Détail enfant à charge</legend>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-sm table-responsive-sm">
                <thead class="table-secondary">
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prénom (s)</th>
                    <th class="text-center">Date naissance</th>
                    <th class="text-center">Genre</th>
                    <th class="text-center">N° Extrait</th>
                    <th class="text-center">Assuré Cmu ?</th>
                    <th class="text-center">Numéro Cmu</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                {% form_theme form 'dossier_personal/charge_people/_collection_charge_people.html.twig' %}
                <tbody id="detail_personal_charge_people_table">
                    {{ form_widget(form.chargePeople) }}
                </tbody>
            </table>
        </div>
    </div>
</fieldset>