{% extends 'base.html.twig' %}

{% block title %}Liste des aventages en nature{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Barème administratif des avantages en nature
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-responsive table-sm" id="basic-datatable">
                        <thead class="table-light">
                        <tr>
                            <th class="text-center">Nbre de pièces principales</th>
                            <th class="text-center">Logement</th>
                            <th class="text-center">Mobilier</th>
                            <th class="text-center">Électricité (a)</th>
                            <th class="text-center">Eau (b)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for avantage in aventage_natures %}
                            <tr>
                                <td class="text-center">{{ avantage.nombrePiece|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ avantage.logement|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ avantage.mobilier|number_format(0, ',', ' ') }} </td>
                                <td class="text-end">{{ avantage.electricite|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ avantage.eaux|number_format(0, ',', ' ') }}</td>
                                <td class="text-center">
                                    <a href="{{ path('setting_aventage_nature_show', {'uuid': avantage.uuid}) }}">
                                        <i data-feather="eye" class="me-2 feather"></i> </a>
                                    <a href="{{ path('setting_aventage_nature_edit', {'uuid': avantage.uuid}) }}">
                                        <i data-feather="edit" class="feather" style="color: yellow"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="{{ path('setting_aventage_nature_new') }}" class="btn btn-primary float-end">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

