{% extends 'base.html.twig' %}

{% block title %}Barème administratif des avantages en nature{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Barème administratif des avantages en nature
                    </h5>
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>Informations Aventage en nature</legend>
                        <table class="table table-bordered table-sm">
                            <thead class="table-light">
                            <tr>
                                <th class="text-center">Nbre de pièces principales</th>
                                <th class="text-center">Logement</th>
                                <th class="text-center">Mobilier</th>
                                <th class="text-center">Électricité (a)</th>
                                <th class="text-center">Eau (b)</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{ aventage_nature.nombrePiece }}</td>
                                <td class="text-end">{{ aventage_nature.logement|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ aventage_nature.mobilier|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ aventage_nature.electricite|number_format(0, ',', ' ') }}</td>
                                <td class="text-end">{{ aventage_nature.eaux|number_format(0, ',', ' ') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <a href="{{ path('setting_aventage_nature_edit', {'uuid': aventage_nature.uuid}) }}"
                       class="btn btn-warning float-end " style="color: white">Modifier</a>
                    <a href="{{ path('setting_aventage_nature_index') }}" class="btn btn-info float-end me-2">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}