{% extends 'imprimer.html.twig' %}

{% block title %}Bulletin de paie{% endblock %}

{% block stylesheets %}
    <style>
        .sans-bordure th, .sans-bordure td {
            border-bottom: none;
            padding: 2px; /* Ajoutez un espacement entre les cellules si nécessaire */
        }

        .small-text {
            font-size: 9px;
        }

        .no-border-button {
            border-bottom: none;
        }

        .no-border-top {
            border-top: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-content">
                    <div class="row mb-1">
                        <div class="col-md-12 mb-2" style="border: 2px double silver; padding: 8px; border-radius: 5px"
                             id="header">
                            <h5 class="text-center"><strong>BULLETIN DE PAIE </strong></h5>
                        </div>
                        <div class="col-md-12 mb-1" style="display: flex">
                            {# Debut logo #}
                            <div class="col-md-1"
                                 style="margin-right: 5px; height: 140px; width: 140px; border: #0b0b0f solid 1px">
                                <p>
                                    <img height="136" width="136" style="margin-left: 2px"
                                         src="{{ asset('img/logo-distrib.jpg') }}" alt="le logo"/>
                                </p>
                            </div>
                            {# Fin logo #}

                            {# Debut information sur le salarié #}
                            <div class="col-md-5"
                                 style="margin-right: 5px; height: 140px; width: 250px; border: #0b0b0f solid 1px">
                                <table class="table table-sm table-borderless mt-3">
                                    <tbody>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Matricule</th>
                                        <td style="font-size: smaller">{{ payrolls.matricule }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Service</th>
                                        <td style="font-size: smaller">{{ payrolls.workplace }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Catégorie</th>
                                        <td style="font-size: smaller">{{ payrolls.categorie }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Nbre de part</th>
                                        <td style="font-size: smaller">{{ payrolls.nombre_part|number_format(1, ',', ' ') }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Date d'entrée</th>
                                        <td style="font-size: smaller">{{ payrolls.date_embauche }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top ">
                                        <th style="font-size: smaller; font-weight: bolder;">N° CNPS</th>
                                        <td style="font-size: smaller">{{ payrolls.numero_cnps }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {# Fin information sur le salarié #}

                            {# Debut information sur la campagne #}
                            <div class="col-md-6" style="height: 140px; width: 250px; border: #0b0b0f solid 1px">
                                <table class="table table-sm table-borderless mt-3">
                                    <tbody>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Periode Exercice</th>
                                        <td style="font-size: smaller"> du {{ payrolls.debut_exercise }}
                                            au {{ payrolls.fin_exercise }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Date Edition</th>
                                        <td style="font-size: smaller">{{ payrolls.date_edition }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Nom</th>
                                        <td style="font-size: smaller">{{ payrolls.nom|upper }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Prénoms</th>
                                        <td style="font-size: smaller">{{ payrolls.prenom|upper }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Emploi</th>
                                        <td style="font-size: smaller">{{ payrolls.departement|upper }}</td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top no-border-button">
                                        <th style="font-size: smaller; font-weight: bolder;">Mode Paiement</th>
                                        <td style="font-size: smaller">{{ payrolls.mode_paiement|upper }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {# Fin information sur la campagne #}
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered" style="border: #0b0b0f solid 1px">
                                <thead class="table-secondary" style="border: #0b0b0f solid 1px">
                                <tr class="small-text text-center sans-bordure">
                                    <th rowspan="2">Rubrique</th>
                                    <th rowspan="2">Libelle</th>
                                    <th rowspan="2">Jours</th>
                                    <th rowspan="2">Base</th>
                                    <th colspan="3">Part salariale</th>
                                    <th colspan="2">Part patronale</th>
                                </tr>
                                <tr class="sans-bordure small-text text-center">
                                    <th>Taux</th>
                                    <th>Gain</th>
                                    <th>Retenue</th>
                                    <th>Taux</th>
                                    <th>Retenue</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if payrolls.salaire_base %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO1</td>
                                        <td>Salaire de base</td>
                                        <td class="text-end">{{ payrolls.nombre_jour_travailler }} </td>
                                        <td class="text-end">{{ payrolls.salaire_base|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.salaire_base|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.sursalaire and payrolls.sursalaire > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO2</td>
                                        <td>Sursalaire</td>
                                        <td class="text-end">{{ payrolls.nombre_jour_travailler }} </td>
                                        <td class="text-end">{{ payrolls.sursalaire|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.sursalaire|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.majoration_heure_sup_15 and payrolls.majoration_heure_sup_15 > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO3</td>
                                        <td>Majoration H.S à 15%</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_15|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_15|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.majoration_heure_sup_50 and payrolls.majoration_heure_sup_50 > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO4</td>
                                        <td>Majoration H.S à 50%</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_50|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_50|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.majoration_heure_sup_75_A and payrolls.majoration_heure_sup_75_A > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO5</td>
                                        <td>Majoration H.S à 75% (ferié/dimanche jrs)</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_75_A|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_75_A|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.majoration_heure_sup_75_B and payrolls.majoration_heure_sup_75_B > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO6</td>
                                        <td>Majoration H.S à 75% (normal/dimanche nuit)</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_75_B|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_75_B|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.majoration_heure_sup_100 and payrolls.majoration_heure_sup_100 > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO7</td>
                                        <td>Majoration H.S à 75% (normal/dimanche jrs)</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_100|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.majoration_heure_sup_100|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.transport_imposable and payrolls.transport_imposable > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO8</td>
                                        <td>Prime transport Imp</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.transport_imposable|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.transport_imposable|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.avantage_imposable and payrolls.avantage_imposable > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>OO9</td>
                                        <td>Aventage nature Imp</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.avantage_imposable|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.avantage_imposable|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.prime_fonction and payrolls.prime_fonction > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O10</td>
                                        <td>Prime fonction</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.prime_fonction|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.prime_fonction|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.prime_logement and payrolls.prime_logement > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O11</td>
                                        <td>Prime logement</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.prime_logement|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.prime_logement|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.indemnite_fonction and payrolls.indemnite_fonction > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O12</td>
                                        <td>Indemnite fonction</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.indemnite_fonction|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.indemnite_fonction|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.indemnite_logement and payrolls.indemnite_logement > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O13</td>
                                        <td>Indemnite logement</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.indemnite_logement|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.indemnite_logement|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.prime_anciennete and payrolls.prime_anciennete > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O14</td>
                                        <td>Prime d'ancienneté</td>
                                        <td class="text-end">{{ payrolls.nombre_jour_travailler }} </td>
                                        <td class="text-end">{{ payrolls.prime_anciennete|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.prime_anciennete|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.remboursement_brut != 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O28</td>
                                        <td>Remboursement sur brut (Moins perçus)</td>
                                        <td class="text-end"></td>
                                        <td class="text-end">{{ payrolls.remboursement_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.remboursement_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.retenue_brut != 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>O29</td>
                                        <td>Retenue sur brut (Moins perçus)</td>
                                        <td class="text-end"></td>
                                        <td class="text-end">{{ payrolls.retenue_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.retenue_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}


                                {% if payrolls.total_brut %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td></td>
                                        <td class="text-center">Total brut imposable</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end"
                                            style="border-top: solid 1px">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td style="border-top: solid 1px"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_its_salarial and payrolls.amount_its_salarial > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>015</td>
                                        <td>ITS</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.taux_its }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_its_salarial|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_cnps_salarial and payrolls.amount_cnps_salarial > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>016</td>
                                        <td>Retenue CNPS</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.taux_cnps_salarial|number_format(2, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_cnps_salarial|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.assurance_salariale and payrolls.assurance_salariale > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>031</td>
                                        <td>Assurance</td>
                                        <td></td>
                                        <td class="text-end"></td>
                                        <td class="text-end"></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.assurance_salariale|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_cr_employeur and payrolls.amount_cr_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>017</td>
                                        <td>Retenue Générale CNPS</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_cr_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_cr_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_pf_employeur and payrolls.amount_pf_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>018</td>
                                        <td>Prestations Familiales</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.smig|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_pf_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_pf_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_at_employeur and payrolls.amount_at_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>019</td>
                                        <td>Accident du travail</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.smig|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_at_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_at_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_is_employeur and payrolls.amount_is_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>020</td>
                                        <td>Part patronale I.S local</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_is_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_is_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_ta_employeur and payrolls.amount_ta_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>021</td>
                                        <td>Taux D'apprentissage</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_ta_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_ta_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_fpc_employeur and payrolls.amount_fpc_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>022</td>
                                        <td>FPC</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_fpc_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_fpc_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_fpc_annuel_employeur and payrolls.amount_fpc_annuel_employeur > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>023</td>
                                        <td>FPC REGUL</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.total_brut|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.taux_fpc_annuel_employeur|number_format(2, ',', ' ') }}</td>
                                        <td class="text-end">{{ payrolls.amount_fpc_annuel_employeur|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_cmu_salarial and payrolls.amount_cmu_patronal %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>024</td>
                                        <td>Retenue CMU</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_cmu_salarial|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_cmu_patronal|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.assurance_patronales and payrolls.assurance_patronales > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>031</td>
                                        <td>Assurance part patronale</td>
                                        <td></td>
                                        <td class="text-end"></td>
                                        <td class="text-end"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.assurance_patronales|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.charge_salarial and payrolls.charge_patronal > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td></td>
                                        <td class="text-center">Total Cotisations</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="border-top: solid 1px"></td>
                                        <td class="text-end"
                                            style="border-top: solid 1px">{{ payrolls.charge_salarial|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td class="text-end"
                                            style="border-top: solid 1px">{{ payrolls.charge_patronal|number_format(0, ',', ' ') }}</td>
                                    </tr>
                                {% endif %}

                                {% if payrolls.amount_prime_panier and payrolls.amount_prime_panier > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>026</td>
                                        <td>Prime panier</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_prime_panier|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_prime_salissure and payrolls.amount_prime_salissure > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>027</td>
                                        <td>Prime salissure</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_prime_salissure|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_prime_tt and payrolls.amount_prime_tt > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>028</td>
                                        <td>Prime tenue travail</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_prime_tt|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_prime_outi and payrolls.amount_prime_outi > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>029</td>
                                        <td>Prime outillage</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_prime_outi|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.amount_prime_rendement and payrolls.amount_prime_rendement > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>030</td>
                                        <td>Prime rendement</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.amount_prime_rendement|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.prime_transport %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>025</td>
                                        <td>Prime transport NI</td>
                                        <td class="text-end">{{ payrolls.nombre_jour_travailler }} </td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.prime_transport|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.retenue_net and payrolls.retenue_net > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>026</td>
                                        <td>Retenue sur salaire (Trop perçus)</td>
                                        <td class="text-end"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.retenue_net|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.remboursement_net and payrolls.remboursement_net > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>027</td>
                                        <td>Remboursement sur salaire (Moins perçus)</td>
                                        <td class="text-end"></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.remboursement_net|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.pret_mensuel and payrolls.pret_mensuel > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>028</td>
                                        <td>Montant du prêt</td>
                                        <td class="text-end"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.pret_mensuel|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if payrolls.acompte_mensuel and payrolls.acompte_mensuel > 0 %}
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <td>029</td>
                                        <td>Montant du acompte</td>
                                        <td class="text-end"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-end">{{ payrolls.acompte_mensuel|number_format(0, ',', ' ') }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                <tr class="small-text sans-bordure no-border-button no-border-top">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="small-text sans-bordure no-border-button no-border-top">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="small-text sans-bordure no-border-button no-border-top">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="small-text sans-bordure no-border-button no-border-top">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" style="border: #0b0b0f solid 1px">
                                <thead class="table-secondary" style="border: #0b0b0f solid 1px">
                                <tr class="small-text text-center sans-bordure">
                                    <th>Cumuls</th>
                                    <th>Salaire Brut</th>
                                    <th>Charges Salariales</th>
                                    <th>Charges patronales</th>
                                    <th>Aventage en nature</th>
                                    <th>Net imposable</th>
                                    <th>Heures travaillées</th>
                                    <th>Heures Supplémentaires</th>
                                    <th style="border: #0b0b0f 1px inset">NET A PAYER</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="small-text sans-bordure">
                                    <td class="text-center">Periode</td>
                                    <td class="text-end">{{ payrolls.salaire_brut|number_format(0, ',', ' ') }}</td>
                                    <td class="text-end">{{ payrolls.charge_salarial|number_format(0, ',', ' ') }}</td>
                                    <td class="text-end">{{ payrolls.charge_patronal|number_format(0, ',', ' ') }}</td>
                                    <td class="text-end">{{ payrolls.amount_avantage|number_format(0, ',', ' ') }}</td>
                                    <td class="text-end">{{ payrolls.net_imposable|number_format(0, ',', ' ') }}</td>
                                    <td class="text-end">{{ payrolls.heure_travailler|number_format(0, ',', ' ') }}</td>
                                    <td class="text-end">{{ payrolls.nb_heure_supp|number_format(0, ',', ' ') }}</td>
                                    <td class="text-center"
                                        style="border: #0b0b0f 1px inset; font-weight: bolder">{{ payrolls.net_payes|number_format(0, ',', ' ') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" style="display: flex">
                            {#
                            <div class="col-md-8" style="margin-right: 5px">
                                <table class="table table-bordered table-sm" style="border: #0b0b0f solid 1px">
                                    <tbody>
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <th>Date dernier retour congé</th>
                                        <td style="width: 50px;" class="text-center"></td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <th>Jour dépuis dernier congé</th>
                                        <td style="width: 50px;" class="text-center"></td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <th>Jour congé acquis Anc & Déco</th>
                                        <td style="width: 50px;" class="text-center"></td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-button no-border-top">
                                        <th>Solde congé à prendre</th>
                                        <td style="width: 50px;" class="text-center"></td>
                                    </tr>
                                    <tr class="small-text sans-bordure no-border-top">
                                        <th>Brut congé cumulé</th>
                                        <td style="width: 50px;" class="text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            #}
                            <div class="col-md-4">
                                <table class="table table-borderless table-sm">
                                    <tbody>
                                    {% if payrolls.mode_paiement == virement %}
                                        {% for ak in payrolls.account_banks %}
                                            <tr class="small-text sans-bordure">
                                                <td class="h7">Banque & N° Compte du
                                                    salarié {{ ak.name|upper }}
                                                    : {{ ak.account }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <a class="btn btn-dark btn-print pull-right" style="color: white" href="javascript:window.print()">
            <i class="icon-print"></i>
            Imprimer</a>
        <a class="btn btn-info btn-back pull-right" style="margin-right: 5px" onclick="window.close()"
           href="{{ path('app_home') }}">
            retour</a>
    </div>
{% endblock %}

