{% if campagne.lastCampagne %}
    <fieldset>
        <legend>Situation de la campagne précédente</legend>
        <table class="table table-bordered table-responsive table-sm">
            <thead class="table-light">
            <tr>
                <th class="text-center" colspan="2">Ouverture</th>
                <th class="text-center" colspan="2">Fermeture</th>
                <th class="text-center" style="vertical-align: middle !important;" rowspan="2">Nbre salarié ayant
                    participé
                </th>
                <th class="text-center" style="vertical-align: middle !important;" rowspan="2">Charge global des
                    salariés (F
                    cfa)
                </th>
                <th class="text-center" style="vertical-align: middle !important;" rowspan="2">Charge global de
                    l'employeur
                    (F cfa)
                </th>
                <th class="text-center" style="vertical-align: middle !important;" rowspan="2">Salaire global (F cfa)
                </th>
            </tr>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Heure</th>
                <th class="text-center">Date</th>
                <th class="text-center">Heure</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">{{ campagne.lastCampagne.startedAt | date("d/m/Y") }}</td>
                <td class="text-center">{{ campagne.lastCampagne.startedAt | date("H:i") }}</td>
                <td class="text-center">{{ campagne.lastCampagne.updatedAt | date("d/m/Y") }}</td>
                <td class="text-center">{{ campagne.lastCampagne.updatedAt | date("H:i") }}</td>
                <td class="text-center">{{ lastCampagne.nombre_personal | number_format(0, ",", " ") }}</td>
                <td class="text-end">{{ lastCampagne.global_charge_personal | number_format(0, ",", " ") }}</td>
                <td class="text-end">{{ lastCampagne.global_charge_employeur | number_format(0, ",", " ") }}</td>
                <td class="text-end">{{ lastCampagne.global_salaire_brut | number_format(0, ",", " ") }}</td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <br>
{% endif %}

<ul class="nav nav-pills navtab-bg nav-justified p-1">
    <li class="nav-item">
        <a href="#date" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
            <span class="d-block d-sm-none"><i class="uil-home-alt"></i></span>
            <span class="d-none d-sm-block">Nouvelle Campagne</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#salaries" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
            <span class="d-block d-sm-none"><i class="uil-home-alt"></i></span>
            <span class="d-none d-sm-block">Salariés</span>
        </a>
    </li>
</ul>
<div class="tab-content text-muted">
    <div class="tab-pane active" id="date">
        <fieldset>
            <legend>Date ouverture</legend>
            <div class="mb-2 row">
                <label class="col-md-2 col-form-label">Date <span class="text-danger">*</span></label>
                <div class="col-md-6">
                    {{ form_widget(form.startedAt) }}
                    {{ form_errors(form.startedAt) }}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="tab-pane " id="salaries">
        <fieldset>
            <legend>Salariés concernés</legend>
            <div class="row">
                <div class="col-12">
                    <div class="mb-2 row">
                        <div class="col-md-10">
                            {{ form_widget(form.checkedAll) }}
                            <small>{{ form_help(form.checkedAll) }}</small>
                        </div>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label class="col-md-2 col-form-label required">Salariés
                        <span class="text-danger">*</span></label>
                    <div class="col-md-10">
                        {{ form_widget(form.personal) }}
                        {{ form_help(form.personal) }}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
