{% extends 'base.html.twig' %}

{% block title %}Livre de paie{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridPayBook {
            border-width: 50px;
        }

        #normal-contained > div {
            width: 150px;
            height: 40px;
            text-align: center;
            color: white;
            background-color: #0b0b0f;
        }

    </style>
{% endblock %}
{% block body %}
<form method="POST" action="{{ path('campagne_validated') }}" id="formCampagnevalidated">
    <div class="modal fade" id="validationConfirmationModal" tabindex="-1" role="dialog"
        aria-labelledby="validationConfirmationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationConfirmationModal">Confirmation de
                        validation</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir valider les informations ci-dessous, après quoi vous ne pourriez plus les modifiés ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler
                    </button>
                    <button type="submit" class="btn btn-success confirm" name="confirm"
                            id="confirmValidationButton">
                        Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="POST" action="{{ path('campagne_canceled') }}" id="formCampagneCanceled">
    <div class="modal fade" id="validationCancelModal" tabindex="-1" role="dialog"
        aria-labelledby="validationConfirmationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationCancelModal">Confirmation de
                        validation</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir annulé ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler
                    </button>
                    <button type="submit" class="btn btn-success confirm" name="confirm"
                            id="confirmValidationButton">
                        Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div style="display: flex" class="card-header">
                <div>
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LIVRE DE PAIE
                    </h5>
                </div>
                <div class="float-end">
                    <h5 class="card-title-custom" style="color: white; margin-left: 1030px">
                        PERIODE DU {{ date_debut }} AU {{ date_fin }}
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <div id="dataGridPayBook"></div>
            </div>
            <div class="card-footer">
                {% if campagne %}
                    {% if campagne.status == "VALIDEE" %}
                        <div id="print-contained" class="float-end mx-1"></div>
                    {% else %}
                        <div id="validated-contained" class="float-end mx-1"></div>
                       <div id="canceled-contained" class="float-end mx-1"></div>  
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            $("#dataGridPayBook").dxDataGrid({
                // Configuration goes here
                dataSource: `{{ url('campagne_pay_book') }}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                height: 400,
                scrolling: {
                    columnRenderingMode: 'virtual'
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Livre de paie');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Livre de paie.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 20,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: "N°",
                        dataField: "index",
                        dataType: "string",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        caption: 'NOM ET PRENOMS',
                        dataField: 'full_name_salaried',
                        dataType: 'string',
                        alignment: 'left',
                        fixed: true,
                        width: 150
                    },
                    {
                        caption: 'DATE EMBAUCHE',
                        dataField: 'date_embauche',
                        dataType: 'string',
                        alignment: 'center',
                        fixed: true,
                        width: 150
                    },
                    {
                        caption: 'CATEGORIE AGENT',
                        dataField: 'category_salaried',
                        dataType: 'string',
                        alignment: 'center',
                        width: 150
                    },
                    {
                        caption: "SITE DE TRAVAIL ",
                        dataField: "service",
                        dataType: "string",
                        alignment: "left",
                        width: 150
                    },
                    {
                        caption: "POSTE",
                        dataField: "poste",
                        dataType: "string",
                        alignment: "left",
                        width: 150
                    },
                    {
                        caption: 'NOMBRE DE PART',
                        dataField: 'number_part_salaried',
                        dataType: 'string',
                        alignment: 'center',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                        width: 150
                    },
                    {
                        caption: 'NOMBRE DE JOUR TRAVAILLER',
                        dataField: 'day_of_presence',
                        dataType: 'string',
                        alignment: 'center',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                        width: 150
                    },
                    {
                        caption: 'SALAIRE DE BASE',
                        dataField: 'salaire_base_salaried',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'SURSALAIRE',
                        dataField: 'sursalaire_salaried',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'PRIME ANCIENNETE',
                        dataField: 'prime_anciennete',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150

                    },
                    {
                        caption: 'PRIME DE TENUE',
                        dataField: 'prime_de_tenue',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150

                    },
                    {
                        caption: 'PRIME DE SALISSURE',
                        dataField: 'prime_de_salissure',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'BRUT IMPOSABLE',
                        dataField: 'salaire_imposable_salaried',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: "CHARGES SALARIALES",
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'ITS',
                                dataField: 'its_salaried',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150
                            },
                            {
                                caption: 'TOTAL RETENUE FISCALE',
                                dataField: 'fixcale_salariale',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150
                            },
                            {
                                caption: 'CNPS',
                                dataField: 'cnps_salaried',
                                dataType: 'number',
                                alignment: 'right',
                                width: 120
                            },
                            {
                                caption: 'CMU',
                                dataField: 'cmu_salaried',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150
                            },
                            {
                                caption: 'TOTAL RETENUE',
                                dataField: 'charge_salarial',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150
                            },
                        ]
                    },
                    {
                        caption: 'INDEMNITE DE TRANSPORT',
                        dataField: 'prime_transport_legal',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'ASSURANCE',
                        dataField: 'assurance_salariale',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'NET A PAYER',
                        dataField: 'net_payer_salaried',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'CHARGES FISCALES PATRONALES',
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'ITS',
                                dataField: 'employer_is',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150
                            },
                            {
                                caption: 'FDFP',
                                dataField: 'amount_fdfp',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150
                            }
                        ]
                    },
                    {
                        caption: 'CHARGES SOCIALES PATRONALES',
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'CAISSE DE RETRAITE',
                                dataField: 'employer_cr',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150

                            },
                            {
                                caption: 'CMU',
                                dataField: 'employer_cmu',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150

                            },
                            {
                                caption: 'PRESTATION FAMILIALE',
                                dataField: 'employer_pr',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150

                            },
                            {
                                caption: 'ACCIDENT DE TRAVAIL',
                                dataField: 'employer_at',
                                dataType: 'number',
                                alignment: 'right',
                                width: 150

                            },
                        ]
                    },
                    {
                        caption: 'ASSURANCE PART PATRONALE',
                        dataField: 'assurance_patronales',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150

                    },
                    {
                        caption: 'TOTAL CHARGES PATRONALES',
                        dataField: 'charge_patronal',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        caption: 'MASSE SALARIALE',
                        dataField: 'masse_salariale',
                        dataType: 'number',
                        alignment: 'right',
                        width: 150
                    },
                    {
                        dataField: 'print_bulletin',
                        caption: 'Imprimer bulletin',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $("<a>")
                                .html('<i data-feather="book" style="color: black"></i>')
                                .attr("href", options.data.print_bulletin)
                                .attr("target", '_blank')
                                .appendTo(container);
                            feather.replace();
                        },
                    },

                ],
                summary: {
                    totalItems: [
                        {
                            column: 'index',
                            summaryType: 'count',
                            displayFormat: 'Participant : {0}'
                        },
                        {
                            column: 'number_part_salaried',
                            displayFormat: 'Total :'
                        },
                        {
                            column: 'salaire_base_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'sursalaire_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_anciennete',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_de_tenue',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_de_salissure',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'salaire_imposable_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'its_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'fixcale_salariale',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'cnps_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'cmu_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'assurance_salariale',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'charge_salarial',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_transport_legal',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'net_payer_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_is',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_cr',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_cmu',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_pr',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_at',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'amount_fdfp',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'assurance_patronales',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'charge_patronal',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'masse_salariale',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                    ]
                }
            })
            $("#print-contained").dxButton({
                stylingMode: 'contained',
                text: 'Imprimer bulletins',
                type: 'default',
                width: 120,
                onClick() {
                    window.location.href = '/campagne/bulletin/all_print';
                }
            })
            $("#canceled-contained").dxButton({
                stylingMode: 'contained',
                text: 'Annuler',
                type: 'danger',
                width: 120,
                onClick() {
                    $('#validationCancelModal').modal('show');
                }
            }) 
            $("#validated-contained").dxButton({
                stylingMode: 'contained',
                text: 'Valider',
                type: 'success',
                width: 120,
                onClick() {
                    $('#validationConfirmationModal').modal('show');
                }
            })
        });
    </script>
{% endblock %}