{% extends 'base.html.twig' %}

{% block title %}Créer taux horaire{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        CREER TAUX HORAIRE LEGAL
                    </h5>
                </div>
                <div class="card-body">
                    {{ include('settings/taux_horaire/_form.html.twig') }}
                </div>
                <div class="card-footer">
                    <button type="submit"
                            class="btn btn-primary float-end">{{ button_label|default('Enregistrer') }}</button>
                    <a href="{{ path('settings_taux_horaire_index') }}"
                       class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


