<fieldset>
    <div class="row">
        <div class="col-10">
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Type de Temps de travail<span
                            class="text-danger">*</span></label>
                <div class="col-md-8">
                    {{ form_widget(form.type) }}
                    {{ form_errors(form.type) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Temps de travail (Heure/Jour) <span class="text-danger">*</span></label>
                <div class="col-md-8">
                    {{ form_widget(form.hourValue) }}
                    {{ form_errors(form.hourValue) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Taux (Heure) <span class="text-danger">*</span> </label>
                <div class="col-md-8">
                    {{ form_widget(form.rateValue) }}
                    {{ form_errors(form.rateValue) }}
                </div>
            </div>
        </div>
    </div>
</fieldset>



