{% extends 'base.html.twig' %}

{% block title %}Conge{% endblock %}

{% block body %}
    <h1>Conge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conge.id }}</td>
            </tr>
            <tr>
                <th>DateDepart</th>
                <td>{{ conge.dateDepart ? conge.dateDepart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateRetour</th>
                <td>{{ conge.dateRetour ? conge.dateRetour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateDernierRetour</th>
                <td>{{ conge.dateDernierRetour ? conge.dateDernierRetour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SalaireMoyen</th>
                <td>{{ conge.salaireMoyen }}</td>
            </tr>
            <tr>
                <th>AllocationConge</th>
                <td>{{ conge.allocationConge }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ conge.commentaires }}</td>
            </tr>
            <tr>
                <th>IsConge</th>
                <td>{{ conge.isConge ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conge_index') }}">back to list</a>

    <a href="{{ path('conge_index', {'id': conge.id}) }}">edit</a>

{% endblock %}
