<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link">
                            <i data-feather="home"></i> ACCUEIL
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="settings"></i>PARAMETRAGE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Utilisateurs
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('auth_user_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('auth_user_index') }}"
                                       class="dropdown-item">Liste utilisateurs</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Smig légal
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_smig_index') }}"
                                       class="dropdown-item">Liste smig</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Taux horaire légal
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_taux_horaire_index') }}"
                                       class="dropdown-item">Liste taux horaire</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catégories prof.
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_category_salarie_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('settings_category_salarie_index') }}"
                                       class="dropdown-item">Liste catégories prof.</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Grille des salaires
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_category_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('settings_category_index') }}"
                                       class="dropdown-item">Liste Grille salariale</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charges fiscales & sociales
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('impot_category_charge_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('impot_category_charge_index_fixcale') }}"
                                       class="dropdown-item">Charges fiscales</a>
                                    <a href="{{ path('impot_category_charge_index_sociale') }}"
                                       class="dropdown-item">Charges sociales</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Primes
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_prime_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('settings_prime_index') }}"
                                       class="dropdown-item">Liste primes</a>

                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Retenue forfaitaire
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('settings_retenue_forfetaire_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('settings_retenue_forfetaire_index') }}"
                                       class="dropdown-item">Liste retenue forf.</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="users"></i>ESPACE EMPLOYES
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dossier du personnel
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Fiches de personnel
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_index') }}"
                                               class="dropdown-item">Liste des salariés</a>
                                            <a href="{{ path('import_file_new') }}"
                                               class="dropdown-item">Importer</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Personne à charge
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('charge_people_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('charge_people_index') }}"
                                               class="dropdown-item">Liste des personnes à charge</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Banque Salarié
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_account_bank_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_account_bank_index') }}"
                                               class="dropdown-item">Liste des banques de salarié</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Heures supplémentaires
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('personal_heure_sup_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('personal_heure_sup_index') }}"
                                       class="dropdown-item">Liste des heures suppl.</a>
                                    <a href="{{ path('personal_heure_sup_supp_book') }}"
                                       class="dropdown-item">Majorations des heure suppl.</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Congés / Absences
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Planifier congés
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('conge_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('conge_index') }}"
                                               class="dropdown-item">Liste des congés planifiés</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Planifier absence
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_absence_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_absence_index') }}"
                                               class="dropdown-item">Liste des absences planifiées</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Départs personnel
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('departure_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('departure_index') }}"
                                       class="dropdown-item">Liste des cessations de contrat </a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Retenue & Remboursement
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('dev_paie_operation_new') }}"
                                       class="dropdown-item">Créer</a>
                                    <a href="{{ path('dev_paie_operation_index') }}"
                                       class="dropdown-item">Liste retenues & Remboursement</a>
                                </div>
                            </div>
                            {# <a href="{{ path('reporting_prime_indemnite') }}" class="dropdown-item">Etat des Primes et indemnités</a> #}
                            <a href="{{ path('reporting_prime_indemnite') }}" class="dropdown-item">Primes et indemnités</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="dollar-sign"></i>GESTION DE LA PAIE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                        <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Heures supplémentaires
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('personal_heure_sup_pending') }}"
                                       class="dropdown-item">Heures suppl en attente.</a>
                                       <a href="{{ path('personal_heure_sup_validated') }}"
                                       class="dropdown-item">Heures suppl validées.</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Régularisation
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Reversement
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('reporting_paie_remboursement_salaires') }}"
                                               class="dropdown-item">Reversement en attente</a>
                                            <a href="{{ path('reporting_paie_validated_remboursement') }}"
                                               class="dropdown-item">Reversement valider</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Retenue sur salaire
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('reporting_paie_retenue_salaires') }}"
                                               class="dropdown-item">Retenue en attente</a>
                                            <a href="{{ path('reporting_paie_validated_retenue_salaires') }}"
                                               class="dropdown-item">Retenue valider</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Campagne
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Ouverture campagne
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('campagne_open_campagne') }}"
                                               class="dropdown-item"> Campagne ordinaire</a>
                                            <a href="{{ path('campagne_open_campagne_exceptional') }}"
                                               class="dropdown-item">Campagne exceptionnelle</a>
                                            <a href="#"
                                               class="dropdown-item">paie periodique</a>
                                        </div>
                                    </div>

                                    <a href="{{ path('campagne_livre') }}"
                                       class="dropdown-item">Livre de paie de la periode</a>
                                    <a href="{{ path('campagne_close') }}"
                                       class="dropdown-item">Fermeture campagnes</a>
                                </div>
                            </div>

                            <a href="{{ path('reporting_element_variable') }}"
                               class="dropdown-item">Relevé comparatif salr.</a>
                            <a href="{{ path('reporting_etat_versement') }}"
                               class="dropdown-item">Fiche des virements</a>
                            <a href="{{ path('reporting_etat_versement_caisse') }}"
                               class="dropdown-item">Fiche Salaires Espèces</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="dollar-sign"></i>EDITION
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="{{ path('reporting_etat_salaire') }}"
                               class="dropdown-item">Etat des salaire</a>
                            <a href="{{ path('reporting_etat_versement_annuel') }}"
                               class="dropdown-item">Etat des virements</a>
                            <a href="{{ path('reporting_etat_versement_caisse_annuel') }}"
                               class="dropdown-item">Etat salaires espèces</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>