{% extends 'imprimerLivrePaie.html.twig' %}

{% block title %} Bulletin de paie {% endblock %}
{% block stylesheets %}
    <style>
        .stronger {
            font-weight: bold;
            font-size: x-large;
            color: #0b0b0f;
        }

        .strong {
            font-size: x-small;
            color: #0b0b0f;
            font-weight: bold;
            margin-top: 5px;
        }

        .barre-verticale {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 65%;
            width: 0.3%; /* Largeur de la barre verticale */
            background-color: black; /* Couleur de la barre verticale */
            margin-left: 1px; /* Ajustement pour centrer la barre */
            transform: translateX(-50%);
        }

        .height-rectangle {
            height: 45px;
            width: auto;
            border: solid;
            position: relative;
        }

        .rectangle {
            height: 50px;
            width: auto;
            border: solid;
            position: relative;
        }

        .small-rectangle {
            height: 50px;
            width: 30%;
            border: solid;
            position: relative;
            margin-right: 10px;
        }

        .medium-rectangle {
            height: 50px;
            width: 70%;
            border: solid;
            position: relative;
        }

        .info-rectangle {
            height: 213px;
            width: auto;
            border: solid;
            position: relative;
        }

        .paiement-rectangle {
            height: 40px;
            width: auto;
            border: solid;
            position: relative;
            margin-top: 1px;
        }

        span {
            margin-bottom: 4px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="info-rectangle">
                <div class="text-center h4">LE LOGO</div>
                <div style="display: flex;" class="mt-1">
                    <div style="margin-left: 30px">
                        <span>Matricule</span><br>
                        <span>Service</span><br>
                        <span>Catégorie</span><br>
                        <span>Salaire catégoriel</span><br>
                        <span>Nbre de part</span><br>
                        <span>Nationalité</span><br>
                        <span>Date d'entrée</span><br>
                        <span>N° CNPS</span><br>
                    </div>
                    <div style="margin-left: 30px; font-weight: bold">
                        <span>{{ payrolls.matricule }}</span><br>
                        <span>{{ payrolls.service }}</span><br>
                        <span>{{ payrolls.grade_categoriel }}</span><br>
                        <span>{{ payrolls.salaire_base }}</span><br>
                        <span>{{ payrolls.number_part }}</span><br>
                        <span>Ivoirienne</span><br>
                        <span>{{ payrolls.embauche }}</span><br>
                        <span>{{ payrolls.numeroCnps }}</span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="height-rectangle">
                <div class="text-center stronger">BULLETIN DE PAIE</div>
            </div>
            <div class="rectangle mt-1">
                <div class="barre-verticale"></div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="text-center strong mb-1">PERIODE DE PAIE</div>
                        <div class="text-center strong">{{ payrolls.periode }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center strong mb-1">DATE EDITION</div>
                        <div class="text-center strong">{{ payrolls.date_edition }}</div>
                    </div>
                </div>
            </div>
            <div class="rectangle mt-1">
                <div>
                    <div class="text-center strong mb-1">NOM ET ADRESSE</div>
                    <div class="text-center strong"> {{ payrolls.fullName_salaried|upper }}</div>
                </div>
            </div>
            <div style="display: flex">
                <div class="small-rectangle mt-1">
                    <div>
                        <div class="text-center strong mb-1">SERVICE</div>
                        <div class="text-center strong"> {{ payrolls.service|upper }}</div>
                    </div>
                </div>
                <div class="medium-rectangle mt-1">
                    <div>
                        <div class="text-center strong mb-1">EMPLOI</div>
                        <div class="text-center strong"> {{ payrolls.departement|upper }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <table class="table table-sm table-bordered mb-2">
                <thead class="table-secondary">
                <tr class="text-center">
                    <th rowspan="2">Rubrique</th>
                    <th rowspan="2">Libelle</th>
                    <th rowspan="2">Base</th>
                    <th colspan="3">Part salariale</th>
                    <th colspan="2">Part patronale</th>
                </tr>
                <tr>
                    <th>Taux</th>
                    <th>Gain</th>
                    <th>Retenue</th>
                    <th>Taux</th>
                    <th>Retenue</th>
                </tr>
                </thead>
                <tbody class="table-borderless">
                <tr>
                    <td>OO1</td>
                    <td>SALAIRE DE BASE</td>
                    <td class="text-end">{{ payrolls.salaire_base }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.salaire_base }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OO2</td>
                    <td>SURSALAIRE</td>
                    <td class="text-end">{{ payrolls.sursalaire }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.sursalaire }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OO3</td>
                    <td>MAJORATION HEURE SUPPLEMENTAIRE</td>
                    <td class="text-end">{{ payrolls.majoration_heure_sup }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.majoration_heure_sup }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>OO4</td>
                    <td>PRIME DE TRANSPORT IMPOSABLE</td>
                    <td class="text-end">{{ payrolls.transport_imposable }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.transport_imposable }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>AVANTAGE EN NATURE IMPOSABLE</td>
                    <td class="text-end">{{ payrolls.avantage_imposable }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.avantage_imposable }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>006</td>
                    <td>PRIME DE FONCTION</td>
                    <td class="text-end">{{ payrolls.prime_fonction }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.prime_fonction }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>007</td>
                    <td>PRIME DE LOGEMENT</td>
                    <td class="text-end">{{ payrolls.prime_logement }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.prime_logement }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>007</td>
                    <td>INDEMNITE DE FONCTION</td>
                    <td class="text-end">{{ payrolls.indemnite_fonction }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.indemnite_fonction }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>007</td>
                    <td>INDEMNITE DE LOGEMENT</td>
                    <td class="text-end">{{ payrolls.indemnite_logement }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.indemnite_logement }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-end">TOTAL BRUT IMPOSABLE</td>
                    <td></td>
                    <td></td>
                    <td class="text-end" style="font-weight: bolder">{{ payrolls.total_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>008</td>
                    <td>IMPOSITION SUR SALAIRE (ITS)</td>
                    <td class="text-end">{{ payrolls.total_brut }}</td>
                    <td class="text-end">0% à 32%</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.amount_its_salarial }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>009</td>
                    <td>RETRAITE GENERALE (CNPS)</td>
                    <td class="text-end">{{ payrolls.total_brut }}</td>
                    <td class="text-end">{{ payrolls.taux_cnps_salarial }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.amount_cnps_salarial }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>010</td>
                    <td>CAISSE DE RETRAITE (CR)</td>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_cr_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_cr_employeur }}</td>
                </tr>
                <tr>
                    <td>011</td>
                    <td>PRESTATION FAMILLIALE</td>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_pf_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_pf_employeur }}</td>
                </tr>
                <tr>
                    <td>012</td>
                    <td>ACCIDENT DE TRAVAIL</td>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_at_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_at_employeur }}</td>
                </tr>
                <tr>
                    <td>013</td>
                    <td>PART PATRONALE I.S LOCAUX</td>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_is_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_is_employeur }}</td>
                </tr>
                <tr>
                    <td>014</td>
                    <td>TAXE D'APPRENTISSAGE</td>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_ta_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_ta_employeur }}</td>
                </tr>
                <tr>
                    <td>015</td>
                    <td>TAXE FPC</td>
                    <
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_fpc_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_fpc_employeur }}</td>
                </tr>
                <tr>
                    <td>016</td>
                    <td>TAXE FPC COMPLEMENT ANNUEL</td>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.taux_fpc_annuel_employeur }}</td>
                    <td class="text-end">{{ payrolls.amount_fpc_annuel_employeur }}</td>
                </tr>
                <tr>
                    <td>017</td>
                    <td>RETENUE COUVERTURE MALADIE UNIVERSELLE (CMU)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.amount_cmu_salarial }}</td>
                    <td></td>
                    <td class="text-end">{{ payrolls.amount_cmu_patronal }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-end">TOTAL COTISATIONS</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end" style="font-weight: bolder">{{ payrolls.charge_salarial }}</td>
                    <td></td>
                    <td class="text-end" style="font-weight: bolder">{{ payrolls.charge_patronal }}</td>
                </tr>
                <tr>
                    <td>018</td>
                    <td>PRIME DE TRANSPORT</td>
                    <td></td>
                    <td></td>
                    <td class="text-end">{{ payrolls.prime_transport }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>018</td>
                    <td>PRIME DE PANIER</td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end">{{ payrolls.amount_prime_panier }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>019</td>
                    <td>PRIME DE SALISSURE</td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end">{{ payrolls.amount_prime_salissure }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>020</td>
                    <td>PRIME D'OUTILLAGE</td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end">{{ payrolls.amount_prime_outi }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>021</td>
                    <td>PRIME DE TENUE TRAVAIL</td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end">{{ payrolls.amount_prime_tt }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>022</td>
                    <td>PRIME DE RENDEMENT</td>
                    <td class="text-end"></td>
                    <td class="text-end"></td>
                    <td class="text-end">{{ payrolls.amount_prime_rendement }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <thead class="table-secondary">
                <tr class="text-center">
                    <th>Cumuls</th>
                    <th>Salaire brut</th>
                    <th>Charges salariale</th>
                    <th>Charges patronales</th>
                    <th>Aventages en nature</th>
                    <th>Net imposable</th>
                    <th>Heure travailler</th>
                    <th>Heures Supplémentaire</th>
                    <th colspan="2" class="stronger">NET A PAYER</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-center">Période</th>
                    <td class="text-end">{{ payrolls.salaire_brut }}</td>
                    <td class="text-end">{{ payrolls.charge_salarial }}</td>
                    <td class="text-end">{{ payrolls.charge_patronal }}</td>
                    <td class="text-end">{{ payrolls.amount_avantage }}</td>
                    <td class="text-end">{{ payrolls.net_imposable }}</td>
                    <td class="text-end">{{ payrolls.heure_travailler }}</td>
                    <td class="text-end">{{ payrolls.nb_heure_supp }}</td>
                    <td class="text-center" style="font-weight: bolder">{{ payrolls.net_payes }}</td>
                </tr>
                </tbody>
            </table>
            <div class="paiement-rectangle mt-0 mb-2">
                <div style="display: flex">
                    <div class="text-center" style="margin-right: 10px; margin-left: 10px; font-size: 20px"> Mode de
                        paiement
                    </div>
                    <div class="text-center"
                         style="margin-right: 10px; margin-left: 10px; font-size: 20px">{{ payrolls.mode_paiement }} sur
                        BIAO : {{ payrolls.num_compte }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <a class="btn btn-dark btn-print pull-right" style="color: white" href="javascript:window.print()">
            <i class="icon-print"></i>
            Imprimer</a>
        <a class="btn btn-info btn-back pull-right" style="margin-right: 5px" onclick="window.close()"
           href="{{ path('app_home') }}">
            retour</a>
    </div>

{% endblock %}
