{% extends 'imprimer.html.twig' %}

{% block title %}Bulletin de paie{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-content">
                    <div class="row mb-3">
                        <div class="col-md-12 mb-3" style="border: 2px double silver; padding: 10px; border-radius: 5px"
                             id="header">
                            <h4 class="text-center"><strong>BULLETIN DE PAIE N°: </strong></h4>
                        </div>
                        <div class="col-md-12 mb-2">
                            <table class="table table-sm table-centered table-bordered">
                                <tbody>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="text-center">BULLETIN DE SALAIRE</th>
                                    <th class="text-center">Période du :</th>
                                    <th class="text-center">{{ payrolls.period_debut|date('d/m/Y') }}</th>
                                    <th class="text-center">{{ payrolls.period_fin|date('d/m/Y') }}</th>
                                    <th class="text-center">Règlement par :</th>
                                    <th class="text-center">versement</th>
                                    <th class="text-center">caisse</th>
                                    <th class="text-center">chèque</th>
                                </tr>
                                <tr style="font-size: x-small; line-height: normal">
                                    <th class="text-left" rowspan="3">
                                        SOCIETE OFFSET <br>
                                        08 BP 4043 ABIDJAN 08 <br>
                                        +225 07 77 73 62 33
                                    </th>
                                    <th class="text-center">
                                        Matricule <br><br>
                                        {{ payrolls.matricule }}
                                    </th>
                                    <th class="text-center">
                                        N° Order <br><br>
                                        {{ payrolls.index }}
                                    </th>
                                    <th class="text-center">
                                        Grade <br><br>
                                        {{ payrolls.grade }}
                                    </th>
                                    <th class="text-end">
                                        Embauché(e) le: <br><br>
                                        Ancienneté:
                                    </th>
                                    <th class="text-center" colspan="2">
                                        {{ payrolls.embauche|date('d/m/Y') }} <br><br>
                                        {{ payrolls.anciennete }}{{ ' ans' }}
                                    </th>
                                    <th class="text-center">
                                        N° CNPS <br><br>
                                        {{ payrolls.numeroCnps }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: normal">
                                    <th class="text-center" colspan="2">
                                        Catégorie <br><br>
                                        {{ payrolls.categorie_salarie }}
                                    </th>
                                    <th class="text-center" colspan="2">
                                        Fonction <br><br>
                                        {{ data.fonction }}
                                    </th>
                                    <th class="text-center" colspan="3">
                                        Département ou Service <br><br>
                                        {{ data.departement }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: normal">
                                    <th class="text-center" colspan="2">
                                        Situation matrimoniale <br><br>
                                        {{ payrolls.etat_civil|capitalize }} {{ " et " }} {{ payrolls.nombre_enfant }} {{ 'enfant(s)' }}
                                    </th>
                                    <th class="text-start h7" colspan="5">
                                        CCN CONVENTION COLLECTIVE INTERPROFESSIONNELLE
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: normal">
                                    <th class="" colspan="1">
                                        Date retour dernier congé:
                                    </th>
                                    <th class="text-center">{{ payrolls.date_retour_dernier_conge|date('d/m/Y') }}</th>
                                    <th colspan="6" rowspan="4" class="text-center h4">
                                        {{ payrolls.fullName_salaried }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="">
                                        Congés:
                                    </th>
                                    <th class="text-center">
                                        {{ payrolls.nombre_jour_conge }} {{ 'jour(s)' }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="">Date départ:</th>
                                    <th colspan="1" class="text-center">
                                        {{ payrolls.date_depart_conge|date('d/m/Y') }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="">Date retour:</th>
                                    <th colspan="1" class="text-center">
                                        {{ payrolls.date_retour_conge|date('d/m/Y') }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th colspan="8">Observation:</th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="" rowspan="2">Désignation</th>
                                    <th class="text-center" rowspan="2">Base</th>
                                    <th class="text-center" rowspan="2">Taux</th>
                                    <th class="text-center" colspan="2">Part salariale</th>
                                    <th rowspan="2" colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="text-center">Gain</th>
                                    <th class="text-center">Retenue</th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Salaire de base</th>
                                    <th class="text-end">{{ payrolls.salaire_horaire }}</th>
                                    <th class="text-end">{{ payrolls.taux_horaire }}</th>
                                    <th class="text-end">{{ payrolls.salaire_base }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Prime d'ancienneté</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.prime_anciennete ?? 0 }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Autre prime et indemnités</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.autre_prime_indemnite ?? 0 }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Heure supplémentaires</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.heure_supplementaire ?? 0 }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Gratification</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.gratification ?? 0 }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Congés payés</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.conge_payes ?? 0 }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th colspan="2"></th>
                                    <th class="text-center">Total Brut</th>
                                    <th class="text-end">{{ payrolls.salaire_brut ?? 0 }}</th>
                                    <th></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th colspan="5"></th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>CNPS</th>
                                    <th class="text-end">{{ payrolls.salaire_brut_imposable }}</th>
                                    <th class="text-end">{{ payrolls.taux_cnps }} {{ ' %' }}</th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.cnps_salaried }}</th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>ITS</th>
                                    <th class="text-end">{{ payrolls.salaire_brut_imposable }}</th>
                                    <th class="text-end">{{ data.taux_its }}</th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.its_salaried }}</th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Avance, Acomptes, prêt</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ data.acompte_avance_pret }}</th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th>Retenues diverses</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-end">{{ payrolls.retenue_diverse }}</th>
                                    <th colspan="3"></th>
                                </tr>
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th class="text-end">TOTAL DES RETENUES</th>

                                    <th class="text-end" colspan="4">{{ payrolls.total_retenue }}</th>
                                    <th colspan="3"></th>
                                </tr>
                                {# Ajouter des information complé&mentaire pour les autre droits ici #}
                                <tr style="font-size: x-small; line-height: 1.0%">
                                    <th rowspan="2" colspan="8"></th>
                                </tr>
                                <tr></tr>
                                <tr style="font-size: x-small; line-height: normal">
                                    <th class="text-center">Salaire brut</th>
                                    <th class="text-center">Net imposable</th>
                                    <th class="text-center">Charge salariale</th>
                                    <th class="text-center">Charge patronal</th>
                                    <th class="text-center">Temps de travail</th>
                                    <th class="text-center">Heures suppl</th>
                                    <th class="text-center">Avant. en nature</th>
                                    <th class="text-end h7" rowspan="2">NET A PAYER <br><br> {{ payrolls.net_payer }}
                                    </th>
                                </tr>
                                <tr style="font-size: x-small; line-height: normal">
                                    <th class="text-center">{{ payrolls.salaire_brut }}</th>
                                    <th class="text-center">{{ payrolls.salaire_brut_imposable }}</th>
                                    <th class="text-center">{{ payrolls.charge_salariale }}</th>
                                    <th class="text-center">{{ payrolls.charge_patronal }}</th>
                                    <th class="text-center">{{ payrolls.taux_horaire }}</th>
                                    <th class="text-center">{{ payrolls.heure_supplementaire }}</th>
                                    <th class="text-center">{{ payrolls.avantage_nature }}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a class="btn btn-info float-end btn-print" style="margin-left: 5px"
                           href="javascript:window.print()">
                            <i class="icon-print"></i> Imprimer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}