<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link">
                            <i data-feather="home"></i> ACCUEIL
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="users"></i>GESTION DU PERSONNEL
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dossier du personnel
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Fiches de personnel
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_index') }}"
                                               class="dropdown-item">Liste des salariés</a>
                                            <a href="{{ path('import_file_new') }}"
                                               class="dropdown-item">Importer</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Personne à charge
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('charge_people_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('charge_people_index') }}"
                                               class="dropdown-item">Liste des personnes à charge</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Banque Salarié
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('personal_account_bank_new') }}"
                                               class="dropdown-item">Créer</a>
                                            <a href="{{ path('personal_account_bank_index') }}"
                                               class="dropdown-item">Liste des banques de salarié</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('reporting_prime_indemnite') }}" class="dropdown-item">Primes et indemnités</a>
                            {# #}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="dollar-sign"></i>GESTION DE LA PAIE
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Campagne
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                           role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Régularisations
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-map">
                                            <a href="{{ path('reporting_paie_validated_remboursement') }}"
                                               class="dropdown-item">Reversement (Moins perçus)</a>
                                            <a href="{{ path('reporting_paie_validated_retenue_salaires') }}"
                                               class="dropdown-item">Retenue (Trop perçus)</a>
                                        </div>
                                    </div>
                                    <a href="{{ path('campagne_livre') }}"
                                       class="dropdown-item">Livre de paie de la periode</a>
                                    <a href="{{ path('campagne_print_all_bulletin') }}"
                                       class="dropdown-item">Etat des bulletins</a>
                                    <a href="{{ path('reporting_etat_versement') }}"
                                       class="dropdown-item">Etat des virements</a>
                                    <a href="{{ path('reporting_etat_versement_caisse') }}"
                                       class="dropdown-item">Etat des paiements espèces</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Editions
                                    <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{{ path('reporting_etat_salaire') }}"
                                       class="dropdown-item">Etat des salaires</a>
                                    <a href="{{ path('reporting_etat_versement_annuel') }}"
                                       class="dropdown-item">Etat des virements</a>
                                    <a href="{{ path('reporting_etat_versement_caisse_annuel') }}"
                                       class="dropdown-item">Etat des paiements espèces</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> <!-- end navbar-->
            </div> <!-- end .collapsed-->
        </nav>
    </div> <!-- end container-fluid -->
</div> <!-- end topnav-->